.chart-component {
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 12px;
}
  
.chart-heading {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}